
body {
    background-image: url('images/card.png');
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
}

main  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-78%, -56%);
}
main div {
    position: relative;
}
main div p:first-child{
    text-shadow: 2px 2px black;
    top: -112%;
    position: absolute;
    font-family: 'Chilanka', cursive;
    /* margin-top: 20px; */
}
main div p:nth-child(2){
    position: absolute;
    width: 300px;
    border: 1px solid black;
    top: -83%;
    left: -33%;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
}
